body{
    margin: 0px;
}

.content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: rgb(225, 169, 0);
        
}

.border{
    display: flex;
    min-height: 15vh;
    background-color: #6d1b1d;
    border: 1px solid rgb(122, 96, 2);
    width: 98.8vw;
    align-items: center;
    justify-content: space-between;
    /*background-repeat: no-repeat;*/
}


.upper{
    flex-direction: row-reverse;
}


.bottom{

}


.anthem {
    color: rgb(186, 196, 196);
    display: flex;
    background-color: rgb(99, 37, 37);
    border: 1px solid black;
    width: 15vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 21px;
    height:auto;
    justify-content: center;
    padding: 0.5%
}

.left{
    margin-left: 2%;
}

.right{
    margin-right: 2%;
}


.container_flex{
    display: flex;
    height: 70vh;
    justify-content: space-between;

}


.side{
    display: flex;
    width: 45vw;
    border: 1px solid rgb(122, 96, 2);
}


.Left{
    display: flex;
    flex-direction: column;
    
}

.Right{
    display: flex;
    justify-content: space-between;
}

.block{
    height: 69.7vh;
    border: 1px solid rgb(122, 96, 2);
    width: 18vw;
    background-color: rgb(99, 37, 37);
    text-align: center;
}

.Vertical{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(122, 96, 2);
    width: 45vw;

}


.block2{
    display: flex;
    height: 44.5vh;
    border: 1px solid rgb(122, 96, 2);
    width: 18vw;
    justify-content:center;
    align-items: center;
    background-color: rgb(99, 37, 37);
}

.Plat_block{
    display: flex;
    flex-direction: column;
    height: 44.5vh;
    border: 1px solid rgb(122, 96, 2);
    width: 18vw;
    background-color: rgb(99, 37, 37);
    align-items: center;

}


.Horizontal{
    width: 45vw;
    height: 25vh;
    border: 1px solid rgb(122, 96, 2);
    background-color: rgb(99, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Platinum{
    height: 40vh;
    width: 15vw;
}


.Icon{
    width: 6vw;
    height: 14vh;
    display: flex;
    margin: 0 1%;
}

.Cover{
    height: 42vh;
    width: 16vw;
}


.Paragraph{
    font-size:92%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(186, 196, 196);
    text-align: center;
}


.header{
    font-size: x-large;
    margin: 0%;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.Page{
    margin-top: 18%;
    text-align: center;
    width: 14vw;
    max-height: 9vh;
    background-color: rgb(226, 92, 43);
    border-radius: 7px;
    font-size:x-large;
    place-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(212, 212, 183);
}


.SuperGiant{
    height: 15vh;
    width: 44vw;
}

.container_grid{
    border: 2px solid purple;
    display: grid;
    grid-template-areas:
        "first first first first"
        "second third fourth fifth"
        "second third fourth fifth"
        "sixth sixth fourth fifth"
        "seventh seventh seventh seventh";
        
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 7vw;


    height: 100vh;
}


#second{
    display: grid;
    grid-area: second;
    height: 44.5vh;
    place-content: center;
    border: 1px solid rgb(122, 96, 2);
    background-color: rgb(99, 37, 37);
}

.Empty{
    display: flex;
}

.meme{
    height: 38vh;
    width: 17vw;
}


#third{
    display: grid;
    grid-area: third;
    height: 44.5vh;
    place-items: center;
    border: 1px solid rgb(122, 96, 2);
    background-color: rgb(99, 37, 37);
}


#fourth{
    grid-area: fourth;
    height: 69.5vh;
    text-align: center;
    border: 1px solid rgb(122, 96, 2);
    background-color: rgb(99, 37, 37);
}


#fifth{
    grid-area: fifth;
    height: 69.5vh;
    border: 1px solid rgb(122, 96, 2);
    background-color: rgb(99, 37, 37);
}


#sixth{
    display: grid;
    grid-area: sixth;
    height: 24.5vh;
    place-items: center;
    border: 1px solid rgb(122, 96, 2);
    background-color: rgb(99, 37, 37);
}


#first {
    grid-area: first;
    height: 15vh;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    border: 1px solid rgb(122, 96, 2);
    background-color: rgb(99, 37, 37);
    
}


#seventh{
    grid-area: seventh;
    height: 15vh;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    border: 1px solid rgb(122, 96, 2);
    background-color: rgb(99, 37, 37);
}


.Grid_anthem_right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13% 0 0 22%;
    order: 1;
    grid-column-start: 14;
    background-color: rgb(99, 37, 37);
    border: 1px solid black;
    width: 15vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 21px;
    max-height: 5vh;
    padding: 0.5%;
    color: rgb(186, 196, 196);
    text-align: center;
}

.collapse
{
    color: aquamarine;
}


.Info
{
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.LabelForm
{
    color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Grid_anthem_left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13% 0 0 22%;
    background-color: rgb(99, 37, 37);
    border: 1px solid black;
    width: 15vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 21px;
    max-height: 5vh;
    padding: 0.5%;
    color: rgb(186, 196, 196);
    text-align: center;
}

.below{
    grid-column-start: 15;
}


.Video{
    height: 25vh;
    width: 20vw;
}


.God_Image{
    height: 50vh;
    width: 17vw;
}


.Olympians{
    list-style-image: none;
}


.Dot{
    padding: 0.008%;
	list-style: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 15%;
}

.Ares{
    background-image: url('images/Ares_logo.png');
}

.Zeus{
    background-image: url('images/Zeus_logo.png');
}

.Poseidon{
    background-image: url('images/Poseidon_logo.png');
}

.Athena{
    background-image: url('images/Athena_logo.png');
}

.Aphrodite{
    background-image: url('images/Aphrodite_logo.png');
}

.Dyonises{
    background-image: url('images/Dyonises_logo.png');
}

.Artemis{
    background-image: url('images/Artemis_logo.png');
}

.Hermes{
    background-image: url('images/Hermes_logo.png');
}

.Demeter{
    background-image: url('images/Demeter_icon.png');
}

.text{
    font-size: medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(172, 188, 201);
}

.text:hover{
    color: yellow;
}


.Bastion{
    height: 44vh;
    width: 17vw;
    position: relative;
}


.game_link{
    font-size: medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(172, 188, 201);
}

.game_link:hover{
    color: rgb(15, 203, 15);
}


.Skelly{
    width: 15vw;
    height: 44vh;
}

.Awards{
    height: 22vh;
    width: 25vw;
}


@media (max-width: 700px){
    .content{
        min-height: 200vh;
        width: 100vw;
    }

    .border{
        min-height: 25vh;
        width: 100.2vw;
    }

    .anthem{
        width: 27vw;
        height: 10vh;
        text-align: center;
        align-items: center;
        font-size: 2.5vh;    
    }

    .Icon
    {
        width: 20vw;
        height: 16vh;
    }

    .container_flex{
        min-height: 150vh;
        flex-direction: column;
        justify-content:start;
    }

    .side{
        min-width: 99vw;
    }


    .Vertical{
        min-width: 100vw;
        display: flex;
        order: 0;
    }

    .Right{
        order: 2;
        flex-direction: column;
    }

    .block{
        width: 100vw;
        height: 40vh;
    }

    .block2{
        min-width: 43vw;
    }

    

    .Horizontal{
        min-width: 100vw;
    }

    .SuperGiant{
        height: 18vh;
        width: 80vw;
    }

    .Cover{
        height: 42vh;
        width: 35vw;
    }

    .meme{
        height: 32vh;
        width: 42vw;
    }

    .Paragraph{
        font-size: 1.8vh;
    }
    

    .menu{
        display: grid;
        place-items: center;
        grid-template-columns: 50% 50%;
    }

    .Page{
        display: grid;
        font-size: 2.5vh;
        width: 28vw;
        height: 8vh;
        text-align: center;
        align-items: center;

    }


    .God_Image{
        height: 45vh;
        width: 42vw;
    }

    .Dot{
        background-size: 6vh;
        padding: 0;
    }

    .text{
        font-size: 2.8vh;

    }

    .Olympians{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .Video{
        height: 25vh;
        width: 50vw;
    }
    

    .Bastion{
        height: 42vh;
        width: 37vw;
    }

    .Games{
        display: grid;
        grid-template-columns: 50% 50%;
        color: rgb(56, 208, 104);
    }

    .game_link{
        font-size: 2.5vh;
    }

    .Plat_block{
        min-width: 43vw;
    }
    
    .Platinum{
        width: 37vw;
    }
    

    .Skelly{
        width: 45vw;
        height: 44vh;
    }

    .Awards{
        height: 25vh;
        width: 75vw;
    }

    .header{
        font-size: 3vh;

    }

}